    {% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Log in</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <section class="review_part p-5">
        <div class="container">

						<form class="container w-50" method="post">
                            {% csrf_token %}
							<div class="mt-10">
                                {{ form.username}}
							</div>
							<div class="mt-10">
                                {{ form.password }}
							</div>
							<div class="mt-10 d-flex justify-content-center">
                                <input  class="genric-btn primary circle w-50" type="submit" value="Submit">
							</div>
						</form>
					</div>
    </section>

{% endblock content%}
